{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<figure>
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2F32fbb068-5ff3-11e6-ae3f-77baadeb1c93.img?source=ig&width=600" style="width: 100%"></img>
  <figcaption class="o-typography-caption">
    © TKTK Image credit TKTK
  </figcaption>
</figure>

After completing 24 laps of the 400m track, Mo Farah kicked clear of his rivals to win 10,000m gold at London 2012, running the final lap in 53.48 seconds.

<div class="o-typography-body-wrapper">
  <ul class="o-typography-body o-typography-body__list">
    <li>
      <strong class="o-typography-bold">Start the race below</strong> to recreate Mo Farah's final lap speed - and choose an athlete from Olympic history to run alongside him.
    </li>
    <li>
      <strong class="o-typography-bold">Use the timer</strong> to measure how long it takes you to complete an activity and see how many laps Mo would have run in that time.
    </li>
  </ul>
</div>

<div class="o-forms-group">
  <label class="o-forms-label">Choose an athlete for Mo to race against (optional)</label>
  <select class="o-forms-select" id="runner2"></select>
</div>

<div class="button-container">
  <input type="button" value="Start" class="o-buttons o-buttons--big start" id="start"></input>
  <input type="button" value="Reset" class="o-buttons o-buttons--big" id="reset" disabled="true"></input>
</div>

<div class="track-container" data-o-grid-colspan="12 S11 M10 L9 XL5 center">
  <span>
    <svg width="10" height="10" id="legend-mo" style="padding: 0 5px"></svg><span>Mo Farah (2012, 10,000m)</span>
    <svg width="10" height="10" id="legend-runner2" style="padding: 0 5px"></svg><span class="hidden" id="legend-runner2-text">Runner 2</span>
  </span>

  {% include "includes/track.html" %}

  <footer class="o-typography-footer">Sources: IAAF, FT research</footer>
</div>

<p class="metric">
  Mo Farah could run <strong id="tweet-laps">0</strong> laps in the time it took me to…
  <input type="text" placeholder="e.g. make a coffee" class="o-forms-text" id="tweet-input-text">
  <a href="https://twitter.com/intent/tweet?url=https://ig.ft.com/sites/molympics&amp;via=FT" class="o-buttons o-buttons--big o-buttons--standout" id="tweet-this">Tweet This</a>
</p>

<h2>Read more about Mo's running partners</h2>

<span class="o-typography-subhead--standard">Thomas Burke (Athens 1896, 400m)</span>
Burke won the inaugural Olympic 400 metres final in 54.2 seconds. This might be slower than Mo Farah's 25th lap in 2012, but the comparison is a little unfair: Burke ran his 400m on a 333m track in Athens with "with bends so tight they necessitated sharp braking", according to IAAF historians. He had won a 400m race the previous year with a time of 49.6 seconds.

<span class="o-typography-subhead--standard">Michael Johnson (Atlanta 1996, 400m)</span>
Johnson raced to gold in 43.49 seconds, which is still an Olympic record. Johnson is the fastest person ever over 400 metres - his world record of 43.18 seconds from 1999 also stands today.

<span class="o-typography-subhead--standard">Steve Ovett (Moscow 1980, 800m)</span>
In this 2-lap race, a relatively slow opening lap of 54.6 seconds was followed by a final lap of 50.8 seconds, meaning Ovett's average pace over the 2 laps of the 800 metres was 52.7 seconds, the speed we've used here to compare with Mo Farah.

<span class="o-typography-subhead--standard">Sebastian Coe (Los Angeles 1984, 1500m)</span>
Ovett's great rival, and now president of the IAAF, Coe set an Olympic record in Los Angeles with a time of 3m 32.53s, equivalent to 56.7 seconds per 400m.

<span class="o-typography-subhead--standard">David Rudisha (London 2012, 800m)</span>
Rudisha's outstanding world record time of 1m 40.91s means an average of 50.5 seconds per 400m.

<span class="o-typography-subhead--standard">Marie-José Pérec (Atlanta 1996, 400m women)</span>
How do the fastest women compare? Pérec ran 400 metres in 48.25 seconds at Atlanta 1996, which is still an Olympic record - nearly 5 seconds behind Michael Johnson's Olympic record, but considerably faster than Burke's time from a century earlier.

<span class="o-typography-subhead--standard">Pamela Jelimo (Beijing 2008, 800m women)</span>
In the women's 2-lap event in Beijing, 18-year-old Jelimo's average lap speed was a remarkable 57.44 seconds.

<span class="o-typography-subhead--standard">Bradley Wiggins (Beijing 2008, cycling – 4,000m pursuit)</span>
Steve Jobs was a notable fan of the bicycle's ability to boost human performance: Wiggins' Olympic record of 4m 15.031s for the 4,000m pursuit means he covered 400m in around 25.5 seconds.

<span class="o-typography-subhead--standard">Sun Yang (London 2012, swimming – 400m freestyle)</span>
Swimming is a slow activity, at least for humans - phenomenal as Sun Yang's Olympic record of 3m 40s is, it translates poorly onto the track.

<span class="o-typography-subhead--standard">Racehorse – Winning Brew (2008)</span>
The world's fastest racehorse over 2 furlongs, Winning Brew's time for 400m is an electrifying 20.5 seconds.

<span class="o-typography-subhead--standard">Greyhound – Brett Lee (2001)</span>
Not to be confused with his namesake, the Australian cricketer, Brett Lee is the fastest greyhound over 515 metres, a recorded speed that means 400 metres would take just 22.45 seconds.

<span class="o-typography-subhead--standard">Tyrannosaurus Rex (Late Cretaceous)</span>
Research by Sellers and Manning (2007) suggests that T-Rex was capable of running 400 metres in around 50 seconds. Not fast enough to chase down a Jurassic Park Jeep, but fast enough to maybe spur Mo on just a little.

{% endmarkdown %}
{% endblock %}
