{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<figure>
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2F0f13bde2-609f-11e6-ae3f-77baadeb1c93.img?source=ig&width=600" style="width: 100%"></img>
  <figcaption class="o-typography-caption">
    © FT graphics
  </figcaption>
</figure>

Mo Farah is aiming to complete a second consecutive Olympic double at <a href="http://www.ft.com/rio-olympics" target="_blank">Rio 2016</a> by winning the 5,000m. Farah is famous for being able to generate exceptional speed in the final lap of endurance events — in London, his last lap in the 5,000m final was an impressive 52.94 seconds. But how does this pace compare to other Olympic athletes or notable sprinters from the natural world?

<div class="o-typography-body-wrapper">
  <ul class="o-typography-body o-typography-body__list">
    <li>
      <strong class="o-typography-bold">Start the race below</strong> to recreate Mo Farah's 5,000m final lap speed – and choose a 'running partner' for him from Olympic history or beyond to compare his speed.
    </li>
    <li>
      <strong class="o-typography-bold">Use the timer</strong> to measure how long it takes you to complete an activity and see how many laps Mo could run in that time.
    </li>
  </ul>
</div>

<div class="o-forms-group">
  <label class="o-forms-label">Choose an athlete for Mo to race against (optional)</label>
  <select class="o-forms-select" id="runner2"></select>
</div>

<div class="button-container">
  <input type="button" value="Start" class="o-buttons o-buttons--big start" id="start"></input>
  <input type="button" value="Reset" class="o-buttons o-buttons--big" id="reset" disabled="true"></input>
</div>

<div class="track-container" data-o-grid-colspan="12 S11 M10 L9 XL5 center">
  <span>
    <svg width="10" height="10" id="legend-mo" style="padding: 0 5px"></svg><span>M. Farah</span>
    <svg width="10" height="10" id="legend-runner2" style="padding: 0 5px"></svg><span class="hidden" id="legend-runner2-text">Runner 2</span>
  </span>

  {% include "includes/track.html" %}

  <footer class="o-typography-footer">Sources: IAAF, FT research</footer>
</div>

<p class="metric">
  Mo Farah could run <strong id="tweet-laps">0</strong> laps in the time it took me to…
  <input type="text" placeholder="e.g. make a coffee" class="o-forms-text" id="tweet-input-text">
  <a href="https://twitter.com/intent/tweet?url=https://ig.ft.com/mo-farah-races-a-t-rex/&amp;via=FT" class="o-buttons o-buttons--big o-buttons--standout" id="tweet-this">Tweet This</a>
</p>

<h2>Read more about Mo’s running partners in this game</h2>

<span class="o-typography-subhead--standard">Usain Bolt (Rio 2016, 200m</span>
Bolt was not pleased with his time of 19.78 seconds, but it allowed him to complete an unprecedented collection of Olympic 100m and 200m titles over 3 consecutive Olympics. How fast is his pace though? 400m would be covered in 39.56 seconds.

<span class="o-typography-subhead--standard">Wayde van Niekerk (Rio 2016, 400m)</span>
For many people, the outstanding race of the 2016 games, van Niekerk smashed Michael Johnson’s 17-year-old world record with a sensational time of 43.03 seconds. 

<span class="o-typography-subhead--standard">Thomas Burke (Athens 1896, 400m)</span>
Burke won the inaugural Olympic 400 metres final in 54.2 seconds. This might be slower than Mo Farah’s final lap pace, but the comparison is a little unfair: Burke ran his 400m on a 333m track in Athens “with bends so tight they necessitated sharp braking”, <a href="https://s3-eu-west-1.amazonaws.com/iaaf-ebooks/2016/Rio-2016-stat-book/index.htm" target="_blank">according to IAAF historians</a>. He had won a 400m race the previous year with a time of 49.6 seconds.

<span class="o-typography-subhead--standard">Sebastian Coe (Los Angeles 1984, 1500m)</span>
Now president of the IAAF, Coe set an Olympic record in Los Angeles with a time of 3m 32.53s, equivalent to 56.7 seconds per 400m.

<span class="o-typography-subhead--standard">David Rudisha (London 2012, 800m)</span>
Rudisha’s outstanding world record time of 1m 40.91s means an average of 50.5 seconds per 400m.

<span class="o-typography-subhead--standard">Marie-José Pérec (Atlanta 1996, 400m women)</span>
How do the fastest women compare? Pérec ran 400 metres in 48.25 seconds at Atlanta 1996, which is still an Olympic record — nearly five seconds behind Michael Johnson’s Olympic record, but considerably faster than Burke’s time from a century earlier.

<span class="o-typography-subhead--standard">Pamela Jelimo (Beijing 2008, 800m women)</span>
In the women’s two-lap event in Beijing, 18-year-old Jelimo’s average lap speed was a remarkable 57.44 seconds.

<span class="o-typography-subhead--standard">Bradley Wiggins (Beijing 2008, cycling – 4,000m pursuit)</span>
Steve Jobs was a notable fan of the bicycle’s ability to boost human performance: Wiggins’ then-Olympic record of 4m 15.031s for the 4,000m pursuit means he covered 400m in about 25.5 seconds.

<span class="o-typography-subhead--standard">Sun Yang (London 2012, swimming – 400m freestyle)</span>
Swimming is a slow activity, at least for humans – phenomenal as Sun Yang’s Olympic record of 3m 40s is, it translates poorly onto the track.

<span class="o-typography-subhead--standard">Bottlenose dolphin</span>
The maximum burst speed of a bottlenose dolphin is around 22 miles per hour, which translates into a 400m time of 41.24 seconds.

<span class="o-typography-subhead--standard">Racehorse – Winning Brew (2008)</span>
The world’s fastest racehorse over two furlongs (402m), Winning Brew’s time for 400m is an electrifying 20.5 seconds.

<span class="o-typography-subhead--standard">Greyhound – Brett Lee (2001)</span>
Not to be confused with his namesake, the Australian cricketer, legendary greyhound Brett Lee covered 515 metres in 28.9 seconds, a recorded speed that means 400 metres would take just 22.45 seconds.

<span class="o-typography-subhead--standard">Tyrannosaurus Rex (Late Cretaceous period)</span>
<a href="https://www.newscientist.com/article/dn12524-t-rex-could-catch-a-human-simulations-show/" target="_blank">Research by William Sellers and Phillip Manning</a> of the University of Manchester suggests that T-Rex was capable of running 400 metres in about 50 seconds. Not fast enough to chase down a Jurassic Park Jeep, but fast enough to maybe spur Mo on just a little.

<onward-journey class="block block--b1" data-type="thing" data-uuid="ZDhiMGRlMzYtYzI2Zi00NDJmLWJhMmItOTU4YTE2N2UwYTlm-VG9waWNz" data-style="whatever"></onward-journey>

{% endmarkdown %}

{% endblock %}
